{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Edit Comment</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form method="post" action="{% url 'comment_edit' comment.id %}">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    <input type="submit" value="Update Comment" class="btn">
</form>
{% endblock %}