{% extends 'base.html' %}

{% block content %}
  <div class="mt-8 mx-auto"> <!-- Increased top margin to 8 -->
    {% if object %}
      <h1 class="text-3xl font-semibold mb-2">Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
      <h1 class="text-3xl font-semibold mb-2">Edit Comment</h1>
    {% endif %}
    
    <div class="w-1/2 bg-blue-200 p-6 rounded shadow-md mb-4">
      <form method="post" action="{% url 'comment_edit' comment.id %}">
        {% csrf_token %}
        <div class="mb-4">
          <!-- You can customize the styling for the form fields here -->
          {{ form.as_p }}
        </div>
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <button type="submit" class="btn btn-blue" style="background-color: navy; color: #fff; border-color: #dc3545; border-color: #007bff; font-size: 1rem; padding: 0.375rem 0.75rem; border-radius: 0.25rem;">Update Comment</button>
      </form>
    </div>
  </div>
{% endblock %}
