{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-9xl text-left mt-20">Files</h1>

<div class="flex flex-wrap justify-center mt-8">
  {% for question in questions %}
    <div class="card flex items-center justify-center w-1/3 mb-8 mx-4">
      <a href="{% url 'question_detail' question.id %}" class="btn">
        <img src="{% static 'img/folder-icon.png' %}" alt="Folder Icon" class="w-72 h-72" />
      </a>

      <div class="absolute text-black font-bold text-center">
        <span class="block card-title mt-2" style="font-family: 'matrix', sans-serif; font-size: 20px; margin-top: 2rem;">{{ question.title }}</span>
        <p class="block mt-2" >Created: {{ question.created_at }}</p>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
