{% extends 'base.html' %}
{% block content %}


<h1 class="text-9xl text-center mt-20">Log In</h1>

<form method="POST" action="{% url 'login' %}" class="max-w-sm mx-auto mt-8">
  {% csrf_token %}

  <div class="mb-4">
    <label class="block">
      <span class="block text-sm font-display text-slate-700 required" style="font-family: 'matrix', sans-serif; font-size: 20px;">
        Username
      </span>
      <input type="text" name="username" class="peer form-input border border-slate-300 p-2 rounded-md focus:outline-none focus:border-green-600 focus:ring focus:ring-green-600 error-input" />
      <p class="error-message" style="font-family: 'matrix', sans-serif; font-size: 20px;">Please provide a valid username.</p>
    </label>
  </div>

  <div class="mb-4">
    <label class="block">
      <span class="block text-sm font-medium text-slate-700 required" style="font-family: 'matrix', sans-serif; font-size: 20px;">
        Password
      </span>
      <input type="password" name="password" class="peer form-input border border-slate-300 p-2 rounded-md focus:outline-none focus:border-green-600 focus:ring focus:ring-green-600 error-input" />
      <p class="error-message" style="font-family: 'matrix', sans-serif; font-size: 20px;">Please provide a valid password.</p>
    </label>
  </div>

  <button type="submit" class="w-full bg-blue-500 text-white font-extrabold py-2 px-4 rounded shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300" style="background-color: blue; font-family: 'matrix', sans-serif; font-size: 20px;">
    Log In
  </button>
</form>

{% endblock %}
