{% extends 'base.html' %}
{% block content %}

<h1 class="text-9xl text-center mt-20">Sign Up</h1>

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}" class="max-w-sm mx-auto mt-8">
    {% csrf_token %}
    
    <!-- Apply Tailwind CSS classes to the entire form -->
    <div class="mb-4">
        {{ form.as_p }}
    </div>

    <button type="submit" class="w-full border-l-4 border-r-4 border-green-900 hover:bg-green-900 text-white font-extrabold py-2 px-4 rounded shadow-lg shadow-slate-950">
        Sign Up
    </button>
</form>

{% endblock %}