{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Plug-In</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;Plug-In</a
              >
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'question_create' %}">Create a Question</a></li>
            {% if user.is_authenticated %}
            <li>Profile</li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            {% comment %} <li><a href="{% url 'comment_create' question_id=question.id %}">Create a Comment</a></li>
            <li><a href="{% url 'edit_question' question_id=question.id %}">Edit Question</a></li>
            <li><a href="{% url 'edit_comment' comment_id=comment.id %}">Edit Comment</a></li>
            <li><a href="{% url 'delete_question' question_id=question.id %}">Delete Question</a></li>
            <li><a href="{% url 'delete_comment' comment_id=comment.id %}">Delete Comment</a></li> {% endcomment %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2023 Plug-In &nbsp;
      </div>
    </footer>
  </body>
</html>