{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-9xl text-left mt-20">Posts</h1>
{% for question in questions %}
<a href="{% url 'question_detail' question.id %}" class="btn">
    <div class="card relative flex items-center justify-center">
        <img src="{% static 'img/folder-icon.png' %}" alt="Folder Icon" class="w-11.5 h-11.5" />

        <div class="absolute text-black text-center">
            <span class="block card-title mt-2">{{ question.title }}</span>
            <p class="block mt-2">Created: {{ question.created_at }}</p>
        </div>

        
    </div>
</a>
{% endfor %}

{% endblock %}
