{% extends 'base.html' %}
{% block content %}

<h1>Posts</h1>

{% for question in questions %}

    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ question.title }}</span>
        <p>Content: {{ question.content|linebreaks }}</p>
        <p>Created: {{ question.created_at }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'question_detail' question.id %}" class="btn">Details</a>
      </div>
    </div>

{% endfor %}

{% endblock %}
