/* Add this to your CSS file */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'matrix';
    src: url(font/matrix.ttf);
}

/* .code-input {
    font-family: monospace;
    white-space: pre-wrap;
} */


pre {
    background: #2e2f2f;
    border-radius: 5px;
    padding: 10px;
    }
 img{
     width: 1000px;
     padding: 10px;
    }



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'matrix', sans-serif;
}
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}
